/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
    line-height: 1.5;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 24px;
    color: #ccc;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #0056b3;
  }
  
  /* Index Page Styles */
  #index ul {
    padding-left: 20px;
  }
  
  /* Past Papers Page Styles */
  #past-papers ul {
    padding-left: 40px;
  }
  
  /* Mark Schemes Page Styles */
  #mark-schemes ul {
    padding-left: 40px;
  }
  
  /* Media Queries */
  @media screen and (max-width: 600px) {
    .container {
      padding: 20px;
    }
  
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }
  
    #past-papers ul,
    #mark-schemes ul {
      padding-left: 20px;
    }
  }

  a.selected {
    color: #FF0000; /* Replace with the desired color */
  }

/* Questions Page Styles */
.units-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  flex: 1;
  margin: 0 10px; /* Adjust spacing between columns as needed */
  background-color: #333; /* Gives a distinct background to each column */
  padding: 20px;
  border-radius: 10px; /* Optional: rounds the corners of the columns */
}

.column label,
.column input {
  display: inline-block; /* Aligns label and checkbox on the same line */
  vertical-align: middle; /* Centers them vertically */
  margin: 5px 5px 5px 0; /* Reduced spacing on the right side */
  color: #fff; /* Text color for labels */
}

#randomQuestionButton,
#getQuestionAnswerButton,
#getQuestionInfoButton {
  padding: 10px 30px;
  background-color: #007bff; /* Button color */
  color: #fff;
  border: none;
  border-radius: 5px; /* Optional: rounds the corners of the button */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#randomQuestionButton:hover,
#getQuestionAnswerButton:hover,
#getQuestionInfoButton:hover {
  background-color: #0056b3;
}

/* Container for the question */
#questionDisplay {
  text-align: center; /* Center-align the content */
  overflow: hidden; /* Hide anything that goes beyond the container */
  padding: 20px; /* Add padding around the content */
  border: 2px solid #fff; /* Add a white border */
  margin-top: 20px; /* Add some space above the container */
  background-color: #333; /* Add a background color */
}

/* Style for the image */
#questionDisplay img {
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  height: auto; /* Maintain the aspect ratio of the image */
  display: inline-block; /* For center-aligning the image */
}

#pageTitle {
  background: linear-gradient(90deg, #ffd700, #ffcc00, #ffd700, #be9801); /* A combination of gold shades */
  color: transparent; /* This will hide the original color of the text */
  -webkit-background-clip: text; /* This will apply the background only to the text */
  background-size: 400% 100%; /* This will stretch the background gradient to be 4 times the width of the text */
  animation: gradientWave 5s infinite linear; /* Adjust the duration (5s) as needed */
}

.modal {
  display: none; 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  padding: 16px;
  background-color: #4c4c4c;
  border: 1px solid #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
  float: right;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}



@keyframes gradientWave {
  0% {
      background-position: 200% center; /* Starting position */
  }
  100% {
      background-position: -200% center; /* Ending position */
  }
}

  
  
  